{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
  Личный кабинет
{% endblock %}
{% block content %}
  <div class="container py-4">
    <div class="card shadow-lg rounded" style="background-color: #{{ user.color }};">
      <div class="row g-0">
        <div class="col-12 col-sm-3">
          {% thumbnail user.photo "200x200" crop="center" upscale=True as im %}
            <img class="card-img p-2" src="{{ im.url }}">
          {% endthumbnail %}
        </div>
        <div class="col-12 col-sm-9">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{ user.get_full_name }}</h4>
            <h6 class="card-text lh-sm">логин: {{ user.username }}</h6>
            <h6 class="card-text lh-sm">email: {{ user.email }}</h6>
            <h6 class="card-text lh-sm">
              получено монет за все время: {{ user.wallet.total_won }}
              <i class="bi bi-coin" style="color: gold;"></i>
            </h6>
            <h6 class="card-text lh-sm">
              текущее количество монет: {{ user.wallet.current_sum }}
              <i class="bi bi-coin" style="color: gold;"></i>
            </h6>
            <br>
            {% if color %}
              <h5 class="card-text lh-sm">
                Следующий цвет для покупки:
                <a href="{% url 'users:user-color' color.pk %}"
                  class="btn shadow rounded fw-bold
                  {% if user.wallet.current_sum < color.cost %} disabled{% endif %}"
                  style="background-color: #{{ color.hex_code }};"
                >
                  {% if user.wallet.current_sum < color.cost %}
                    Мало монет
                  {% else %}
                    Купить
                  {% endif %}</a>
                <br>
                Стоимость: {{ color.cost }}
                <i class="bi bi-coin" style="color: gold;"></i>
              </h5>
            {% else %}
              <h5 class="card-text lh-sm">
                Вы уже достигли максимального уровня. Доступных цветов нет.
              </h5>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}