{% with request.resolver_match.view_name as view_name %}
{% load static%}
{% load thumbnail %}
<div class="card">
  <div class="row g-0">
    <div class="col-3 col-sm-2">
    {% if view_name  == 'posts:order_type' or view_name  == 'posts:orders' %}
      {% thumbnail post.group.image "200x200" crop="center" upscale=True as im %}
        <img class="card-img p-2" src="{{ im.url }}">
      {% endthumbnail %}
    {% elif view_name  == 'posts:incident'%}
        <img class="card-img p-2" src="{% static 'img/index/lightning.png' %}">
    {% else %}
      {% thumbnail post.image "200x200" crop="center" upscale=True as im %}
        <img class="card-img p-2" src="{{ im.url }}">
      {% endthumbnail %}
    {% endif %}
    </div>
    <div class="col-9 col-sm-10">
      <div class="card-body shadow-lg rounded">
        <h6 class="card-title fw-bold">{{ post.title|linebreaksbr }}</h6>
        <p class="card-text lh-sm">{{ post.text|linebreaksbr }}</p>
        <p class="card-text"><small class="text-muted">Дата публикации: {{ post.pub_date }}</small></p>
        <p class="card-text"><small class="text-muted">Автор: {{ post.author.get_full_name }}</small></p>
        {% if post.group %}
          <p class="card-text"><small class="text-muted">Категория документа: {{ post.group }}</small></p>
        {% endif %}
        <div class="text-end">
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            {% if post.file %}
              <a href="{{ post.file.url }}" class="btn btn-info bg-gradient shadow rounded fw-bold" download
              ><i class="bi bi-file-earmark-text"></i> cкачать документ</a>
            {% endif %}
            {% if view_name  == 'posts:order_type' %}
              <a href="{% url 'posts:orders' %}" class="btn btn-success bg-gradient shadow rounded fw-bold"
              ><i class="bi bi-sliders"></i> вернуться назад</a>
            {% elif view_name  == 'posts:biblio_type' %}
              <a href="{% url 'posts:biblio' %}" class="btn btn-success bg-gradient shadow rounded fw-bold"
              ><i class="bi bi-sliders"></i> все записи библиотеки</a>
            {% else %}
              {% if post.group %}
                {% if view_name  == 'posts:orders' %}
                  <a href="{% url 'posts:order_type' post.group.slug %}" class="btn btn-success bg-gradient shadow rounded fw-bold"
                  ><i class="bi bi-sliders"></i> все записи данного типа</a>
                {% else %}
                  <a href="{% url 'posts:biblio_type' post.group.slug %}" class="btn btn-success bg-gradient shadow rounded fw-bold"
                  ><i class="bi bi-sliders"></i> все записи данного типа</a>
                {% endif %}
              {% endif %}
            {% endif %}            
            {% if user.is_authenticated and perms.posts.change_post %}
              {% if view_name  == 'posts:order_type' or view_name  == 'posts:orders' %}
                <a href="{% url 'posts:order_edit' post.id %}" class="btn btn-warning bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-vector-pen"></i> редактировать запись</a>
              {% elif view_name  == 'posts:biblio_type' or view_name  == 'posts:biblio' %}
                <a href="{% url 'posts:biblio_edit' post.id %}" class="btn btn-warning bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-vector-pen"></i> редактировать запись</a>
              {% elif view_name  == 'posts:activity' %}
                <a href="{% url 'posts:activity_edit' post.id %}" class="btn btn-warning bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-vector-pen"></i> редактировать запись</a>
              {% elif view_name  == 'posts:social' %}
                <a href="{% url 'posts:social_edit' post.id %}" class="btn btn-warning bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-vector-pen"></i> редактировать запись</a>
              {% elif view_name  == 'posts:incident' %}
                <a href="{% url 'posts:incident_edit' post.id %}" class="btn btn-warning bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-vector-pen"></i> редактировать запись</a>
              {% endif %}
              {% if view_name  == 'posts:order_type' or view_name  == 'posts:orders' %}
                <a href="{% url 'posts:order_delete' post.id %}" class="btn btn-danger bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-trash"></i> удалить запись</a>
              {% elif view_name  == 'posts:biblio_type' or view_name  == 'posts:biblio' %}
                <a href="{% url 'posts:biblio_delete' post.id %}" class="btn btn-danger bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-trash"></i> удалить запись</a>
              {% elif view_name  == 'posts:activity' %}
                <a href="{% url 'posts:activity_delete' post.id %}" class="btn btn-danger bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-trash"></i> удалить запись</a>
              {% elif view_name  == 'posts:social' %}
                <a href="{% url 'posts:social_delete' post.id %}" class="btn btn-danger bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-trash"></i> удалить запись</a>
              {% elif view_name  == 'posts:incident' %}
                <a href="{% url 'posts:incident_delete' post.id %}" class="btn btn-danger bg-gradient shadow rounded fw-bold"
                ><i class="bi bi-trash"></i> удалить запись</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if not forloop.last %}<hr>{% endif %}
{% endwith %}
