{% load user_filters %}
{% for field in form %}
  <div class="form-group row my-3 p-3">
    <label for="{{ field.id_for_label }}">
      {{ field.label }}
    </label>
    {% if request.resolver_match.view_name == "core:tests-detail" %}
      {{ field|addclass:"form-check" }}
    {% else %}
      {{ field|addclass:"form-control" }}
    {% endif %}
    {% if field.help_text %}
      <small id="{{ field.id_for_label }}-help"
        class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}