{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ text }}
{% endblock %}
{% block content %}
  {% include 'includes/switcher.html' %}
  <div class="container py-5">
    <h1 class="py-1 text-info">{{ text }}</h1>
    <div class="card shadow-lg rounded">
      <div class="row g-0">
        <div class="col-12 col-sm-4">
          <img src="{% static 'img/index/index_img.jpg' %}" class="img-fluid w-100" alt="card-horizontal-image">
        </div>
        <div class="col-12 col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Добро пожаловать на бета-версию сайта локомотивного депо Есиль!</h5>
            <p class="card-text lh-sm">Здесь Вы сможете ознакомиться с последними приказами или распоряжениями, 
              скачать план и конспекты технических занятий или узнать о проведении общественного мероприятия.   
              Кроме всего прочего, Вы сможете попробовать найти необходимую документацию в библиотеке.</p>
            <p class="card-text"><small class="text-muted">
              <i class="bi bi-envelope-paper" style="font-size: 1.5rem; color: cornflowerblue;"></i>
              Пожелания и предложения по работе сайта просьба отправлять по адресу: stebljan@ya.ru</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}