{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ test.title }}
{% endblock %}
{% block content %}
  <div class="container py-4">
    <h1 class="py-1 text-center text-info">{{ test.title }}</h1>
    <div class="row justify-content-center">
        <div class="card-body">
          {% if not attempt %}
            <p class="card-text">
              {{ question.question_text }}
            </p>
            <form method="post" enctype="multipart/form-data"
              {% if action_url %}
                action="{% url action_url %}"
              {% endif %}
            >
              {% csrf_token %}
              {% include "includes/form_errors.html" %}
              {% include "includes/field_form.html" %}
              <div class="col-md-6 offset-md-5">
                <button type="submit"
                  class="btn btn-primary bg-gradient shadow rounded fw-bold"
                  id="submit_button" disabled
                >Ответить</button>
              </div>
            </form>
          {% elif attempt %}
            <h3 class="py-1 text-center text-success">
              {{ user.get_full_name }}, Ваши результаты:
            </h3>
            <h5 class="card-text text-center">
              Процент правильных ответов - {{ attempt.result|floatformat }}%.
              <br>
              {% if attempt.success %}
                {{ test.title }} пройден!<br>
                Вы заработали {{ test.prize }} монет.
              {% else %}
                {{ test.title }} не пройден!<br>
                Вы не заработали монет.
              {% endif %}
            </h5>
            <div class="d-grid gap-2 d-md-block col-md-6 offset-md-4 py-3"
              role="group" aria-label="Простой пример">
              <a href="{% url "core:tests-detail" test.pk %}"
                class="btn btn-primary bg-gradient shadow rounded fw-bold"
              >Пройти тест заново</a>
              <a href="{% url "core:index" %}"
                class="btn btn-primary bg-gradient shadow rounded fw-bold"
              >На главную</a>
            </div>
          {% endif %}
        </div>
    </div>
  </div>
{% endblock %}